- var classes = ['navbar', 'navbar-default']
nav(classes)
  #container-fluid
    #navbar-header
      a(class='navbar-brand' href='https://upload.wikimedia.org/wikipedia/commons/5/51/Paw-print.svg')
        img(alt='Brand' src='https://upload.wikimedia.org/wikipedia/commons/5/51/Paw-print.svg')
